<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Devdactic CSV
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="exportCSV()">
        Export
      </ion-button>
      <input #cvs name="sampleImage" type="file" accept="cvs" (change)="processFile(cvs)">
      <!-- <ion-input #cvs (change)="processFile(cvs)">
        Import
      </ion-input> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">

  <table border="1" class="data-table">
    <tr>
      <td *ngFor="let header of headerRow" text-center><b>{{ header }}</b></td>
    </tr>
    <tr *ngFor="let row of csvData; let i = index">
      <td *ngFor="let cel of row; let j = index; trackBy: trackByFn">
        <ion-input type="text" [(ngModel)]="csvData[i][j]"> </ion-input>
      </td>
    </tr>
  </table>

</ion-content>